/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v22-latin-regular.ttf') format('truetype');
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v22-latin-600.ttf') format('truetype');
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v22-latin-700.woff2') format('woff2'),
        url('../fonts/poppins-v22-latin-700.ttf') format('truetype');
}

/* poppins-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v22-latin-800.woff2') format('woff2'),
        url('../fonts/poppins-v22-latin-800.ttf') format('truetype');
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v40-latin-regular.ttf') format('truetype');
}
/* open-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600.woff2') format('woff2'),
        url('../fonts/open-sans-v40-latin-600.ttf') format('truetype');
}