:root{
    --color-primary-white:#fff;
    --brand-color:#E43071;
    --color-primary-pink:#ffc1d8;
    --color-primary-grey:#424242;
    --color-secondary-grey:#969BAB;
    --color-gray:#D9DBE1;
    --color-socials-background:#EDEDED;
    --color-footer-background:#0B0D17;
    --color-grey-300:#D9DBE1;
}
$bp-desktop: 1280px;
$bp-tablet: 768px;
$bp-mobile: 480px;